.ads {
  padding: 10px;
  border-radius: 7px;
  overflow: hidden;
  &.width-full {
    background-color: var(--color-light-3);
    .ads-inner {
      .ads-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 10px;
        h3 {
          margin: 4px 0;
        }
      }
    }
    &.m540 {
      margin-top: -300px;
      border-radius: 0;
      transition: 0.3s linear all;
      height: 300px;
      position: relative;
      z-index: -1;
      @media (max-width: 540px) {
        &.active {
          z-index: 20;
          background-color: var(--color-primary);
          color: var(--color-light-1);
          margin-top: 0;
        }
        &.inactive {
          z-index: -1;
          margin-top: -300px;
        }
        .ads-inner {
          height: 100%;
          position: relative;
          .ads-close {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
            width: 30px;
            height: 30px;
          }
          .ads-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-right: 20px;
            padding-left: 20px;
            img {
              max-width: 100%;
            }
            a {
              color: var(--color-light-1);
            }
          }
        }
        &.active {
          display: block;
          position: relative;
          z-index: 20;
        }
      }
    }
    &#ads-after-header-menu {
      min-height: 400px;
      height: 400px;
      .ads-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .ads-content {
          background-color: var(--color-light-2, #f5f5f5);
          border-radius: 10px;
          height: 100%;
          position: relative;
          width: 1046px;
          max-width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .close {
            position: absolute;
            right: 10px;
            top: 10px;
          }
        }
      }
      @media (max-width: 540px) {
        display: none;
      }
    }
  }
  &.flo {
    border-radius: 0;
    width: 160px;
    height: 600px;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    .ads-inner {
      width: 100%;
      height: 100%;
      .ads-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        h3 {
          margin: 0;
        }
        a {
          color: var(--color-light-3);
          padding: 0;
        }
      }
    }
    &.left {
      left: 50%;
      transform: translateX(-50%);
      margin-left: calc(-1046px / 2 - 90px);
    }
    &.right {
      right: 50%;
      transform: translateX(50%);
      margin-right: calc(-1046px / 2 - 90px);
    }
    @media (max-width: 1366px) {
      display: none;
    }
  }
}
