#header-menu {
  height: 40px;
  background-color: black;
  .inner-section {
    height: 100%;
    .container {
      height: 100%;
      .wrapper {
        height: 100%;
        .items {
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          .left {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-grow: 1;

            #offcanvas-menu-nav {
              display: none;
              width: calc(100% - 40px);
              box-sizing: border-box;
              z-index: -1;

              .closer {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 20px;
                height: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background-color: var(--cp3-light);
                color: var(--color-primary);
              }

              .mid {
                display: none;
                @media (max-width: 1024px) {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin-bottom: 20px;
                  form {
                    box-sizing: border-box;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    input {
                      box-sizing: border-box;
                      width: calc(100% - 30px);
                      padding: 10px;
                    }
                    button {
                      box-sizing: border-box;
                      width: 30px;
                      height: 30px;
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;
                    }
                  }
                }
              }

              @media (max-width: 1024px) {
                z-index: -1;
                height: auto;
                overflow-y: auto;
                background-color: transparent;
                display: block;
                position: fixed;
                padding: 60px 40px;
                top: 210px;
                border-radius: 10px;
                transform: scale(0);
                transition: 0.3s linear all;

                &.active {
                  z-index: 999;
                  transform: scale(1);
                  background-color: var(--color-primary);
                }

                .offcanvas-header-menu-container {
                  ul {
                    width: 100%;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 40px 10px;
                    list-style: none;
                    margin: 0;
                    padding: 10px;
                    justify-content: center;
                    li {
                      width: calc(100% / 5 - 20px);
                      @media (max-width: 640px) {
                        width: calc(100% / 4 - 20px);
                      }
                      @media (max-width: 540px) {
                        width: calc(100% / 3 - 20px);
                      }
                      @media (max-width: 495px) {
                        width: calc(100% / 2 - 20px);
                      }
                      @media (max-width: 320px) {
                        width: calc(100% - 20px);
                      }
                      a {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        color: var(--color-light-3);
                        i {
                          margin-right: 5px;
                        }
                        span {
                          font-size: 75%;
                        }
                      }
                    }
                  }
                }
              }
            }

            #header-menu-nav {
              display: flex;
              flex-direction: column;
              justify-content: center;
              box-sizing: border-box;
              width: 100%;
              height: 100%;
              border-radius: 20px;

              @media (max-width: 1024px) {
                display: none;
              }
              .mid {
                display: none;
                @media (max-width: 768px) {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin-bottom: 40px;
                }
              }

              .menu-header-menu-container {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                ul {
                  height: 100%;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  list-style: none;
                  margin: 0;
                  padding: 0;
                  gap: 0 40px;
                  overflow-x: auto;

                  @media (max-width: 1024px) {
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    gap: 20px 10px;
                    flex-wrap: wrap;
                  }

                  li {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-shrink: 0;
                    width: max-content;

                    @media (max-width: 1024px) {
                      height: auto;
                      width: calc(100% / 5);
                      align-items: center;
                      text-align: left;
                      align-items: center;
                    }

                    @media (max-width: 991px) {
                      width: calc(100% / 4);
                    }
                    @media (max-width: 640px) {
                      width: calc(100% / 3);
                    }
                    @media (max-width: 540px) {
                      width: calc(100% / 2 - 20px);
                    }

                    a {
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      width: 100%;
                      padding: 2px 4px;
                      color: var(--color-light-1);
                      i {
                        display: none;
                        @media (max-width: 1024px) {
                          display: block;
                        }
                      }
                      @media (max-width: 1024px) {
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        text-align: center;
                        font-size: 90%;
                        gap: 4px;
                        span {
                          font-size: 75%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .right {
            width: 40px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-grow: 0;
            display: none;
            padding: 0 4px;
            @media (max-width: 1024px) {
              display: flex;
            }
          }
        }
      }
    }
  }
}

.bars {
  width: 23px;
  height: 18px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  .bar {
    height: 2px;
    background-color: var(--color-light-1);
    position: absolute;

    &:nth-child(1) {
      width: 100%;
      top: 0;
      left: 0;
      transition: 0.3s linear all;
    }
    &:nth-child(2) {
      width: 75%;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      transition: 0.3s linear all;
    }
    &:nth-child(3) {
      width: 100%;
      bottom: 0;
      left: 0;
      transition: 0.3s linear all;
    }

    &.active {
      background-color: var(--cp2-light);

      &:nth-child(1) {
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
        height: 3px;
      }

      &:nth-child(2) {
        right: -100px;
      }

      &:nth-child(3) {
        bottom: unset;
        height: 3px;
        top: 50%;
        transform: rotate(-45deg) translateY(-50%);
      }
    }
  }
}
