#news-box {
  .inner-section {
    .container {
      .wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .news-box-content {
          display: flex;
          flex-direction: row;
          gap: 10px;

          @media (max-width: 840px) {
            flex-direction: column;
          }

          .left {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            @media (max-width: 840px) {
              width: 100%;
              flex-grow: unset;
            }

            .inner-left {
              display: flex;
              flex-direction: column;
              row-gap: 20px;

              .content {
                overflow: hidden;

                .items {
                  .top {
                    aspect-ratio: 16/9;
                    position: relative;
                  }
                  .bot {
                    padding: 20px 10px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;

                    .excerpt {
                      font-size: 90%;
                    }

                    h3 {
                      @media (max-width: 640px) {
                        font-weight: 400;
                        font-size: var(--font-clamp-2);
                        a {
                          text-decoration: underline;
                        }
                      }
                      @media (max-width: 540px) {
                        font-size: var(--font-clamp-1);
                      }
                    }
                  }
                  .edit-post {
                    position: absolute;
                    width: max-content;
                  }
                  // for Video Post.
                  &.video {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 20px 10px;
                    overflow: hidden;

                    @media (max-width: 540px) {
                      grid-template-columns: repeat(2, 1fr);
                    }

                    .item {
                      display: flex;
                      flex-direction: column;
                      overflow: hidden;
                      position: relative;
                      background-color: var(--color-light-1);
                      box-shadow: var(--box-shadow-2);

                      .cat {
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        width: max-content;
                        z-index: 1;
                      }
                      .top {
                        .icon {
                          position: absolute;
                          top: 5px;
                          right: 5px;
                        }
                        a {
                          display: block;
                          overflow: hidden;
                          width: 100%;
                          height: 100%;
                          img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                          }
                        }
                      }
                      .bot {
                        h3 {
                          font-weight: 500;
                          @media (max-width: 640px) {
                            font-size: 85%;
                            font-weight: 400;
                            line-height: 1.7;
                            a {
                              text-decoration: none;
                            }
                          }
                          @media (max-width: 540px) {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                          }
                        }
                      }

                      &:first-child {
                        grid-column: span 3;
                        @media (max-width: 640px) {
                          .bot {
                            h3 {
                              font-size: var(--font-clamp-2);
                              font-weight: 600;
                            }
                          }
                        }
                        @media (max-width: 540px) {
                          grid-column: unset;
                          box-shadow: none;
                          padding: 0;
                          .bot {
                            h3 {
                              margin-top: 4px;
                              margin-bottom: 4px;
                              font-size: 85%;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
