#sidebar-container {
  background-color: var(--color-light-1);
  width: 320px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 10px;

  aside {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 10px;
    gap: 10px;

    @media (max-width: 840px) {
      padding: 20px 10px;
    }

    .widget {
      &.widget_block {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        h2,
        h3,
        h4 {
          margin: 4px 0;
        }
        figure {
          box-sizing: border-box;
          width: 100%;
          max-width: 100%;
          margin-block-start: 0;
          margin-block-end: 0;
          margin-inline-start: 0;
          margin-inline-end: 0;
          img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
          }
        }
        &:has(a) {
          &:has(img) {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
              width: 100%;
              display: block;
              overflow: hidden;
            }
            img {
              max-width: 100%;
              height: auto;
              border-radius: 10px;
            }
          }
        }
        &:has(iframe) {
          margin-bottom: 20px;
          aspect-ratio: 16/9;
          overflow: hidden;
          iframe {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 10px;
          }
        }
      }
      &.widget_nbt_recent_posts_widget {
        margin-bottom: 20px;
        .items {
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin-bottom: 20px;
          .item {
            &.nofim {
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: center;
              .left {
                position: absolute;
                top: -5px;
                width: 30px;
                height: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: var(--color-light-2);
                border-radius: 50%;
              }
              .right {
                padding: 0 5px 0 40px;
                h3 {
                  margin: 0;
                  font-size: 14px;
                  font-weight: 400;
                }
              }
            }

            &.fim {
              display: flex;
              flex-direction: row;
              .left {
                width: 100px;
                height: 56.25px;
                overflow: hidden;

                @media (max-width: 840px) {
                  width: 200px;
                  aspect-ratio: 16/9;
                  height: auto;
                }

                @media (max-width: 485px) {
                  width: 100px;
                  height: 56.25px;
                  aspect-ratio: unset;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 10px;
                }
              }
              .right {
                padding: 0 5px 0 10px;
                @media (max-width: 840px) {
                  padding: 10px;
                }
                @media (max-width: 485px) {
                  padding: 0 10px;
                }
                h3 {
                  margin: 0;
                  font-size: 14px;
                  font-weight: 400;
                  @media (max-width: 840px) {
                    font-size: var(--font-clamp-1);
                    font-weight: 500;
                  }
                  @media (max-width: 485px) {
                    font-size: 14px;
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 840px) {
    width: 100%;
    flex-shrink: unset;
  }
}
