.sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  .container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .items {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      gap: 10px;
      .item {
        display: flex;
        flex-direction: column;

        h2 {
          margin: 4px 0;
          font-size: var(--font-clamp-3);
        }
        h3 {
          margin: 4px 0;
          font-size: var(--font-clamp-2);
        }

        p {
          margin: 4px 0;
          line-height: 1.5;
          font-size: 90%;
        }
      }
    }
  }
}
