aside {
  display: flex;
  flex-direction: column;
  .widget {
    padding-top: 0px;
    padding-bottom: 10px;
    h2.wp-block-heading {
      margin: 4px 0;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0;
      box-sizing: border-box;
      row-gap: 5px;
      li {
        box-sizing: border-box;
        margin-bottom: 4px;
      }
    }
  }
}
