#sing {
  #the-content {
    h2 {
      font-size: var(--font-clamp-3);
    }
    h3 {
      font-size: var(--font-clamp-2);
    }
    h4 {
      font-size: var(--font-clamp-1);
    }
    h5 {
      font-size: 15px;
    }
    h6 {
      font-size: 14px;
    }
    p {
      line-height: 1.7;
      margin: 8px 0;
      img {
        max-width: 100%;
        height: auto;
      }

      &:has(> img) {
        max-width: 100%;
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      a {
        text-decoration: underline;
      }
    }
    ul,
    ol {
      li {
        margin-bottom: 8px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  // Standard Start
  &.standard {
    background-color: var(--color-light-3);
    .inner-section {
      .container {
        .wrapper {
          display: grid;
          grid-template-columns: 1fr 320px;
          gap: 10px;

          @media (max-width: 840px) {
            grid-template-columns: 1fr;
          }

          .left {
            background-color: var(--color-light-2);
            .inner-wrapper {
              .row {
                padding: 10px 20px;
              }

              .top {
                h1 {
                  font-size: var(--font-clamp-4);
                  font-weight: 600;
                  @media (max-width: 540px) {
                    font-size: var(--font-clamp-3);
                  }
                }
                .meta {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  font-size: 16px;
                  a {
                    text-decoration: underline;
                  }
                }
              }
              .featured-image {
                img {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
          .right {
            padding: 10px;
            background-color: var(--color-light-2);
            @media (max-width: 840px) {
              padding-top: 20px;
              padding-bottom: 20px;
            }
          }
        }
      }
    }
  }
  // Standard End
}
