#sing {
  .inner-section {
    .container {
      .wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        @media (max-width: 840px) {
          flex-direction: column;
        }
        .left {
          display: flex;
          flex-direction: column;
          width: calc(100% - 330px);
          @media (max-width: 840px) {
            width: 100%;
          }
          .row {
            padding: 0 20px;
          }
          .fim {
            width: 100%;
            img {
              width: 100%;
              max-width: 100%;
              height: auto;
              border-radius: 10px;
            }
          }
          #the-content {
            margin-top: 20px;

            pre {
              margin: 0;
              box-sizing: border-box;

              &:has(code) {
                padding: 20px;
                border-radius: 5px;
                background-color: var(--color-primary);
                color: var(--cp2-light);
                overflow: auto;
                code {
                  width: 100%;
                  max-width: 100%;
                  overflow: auto;
                  box-sizing: border-box;
                  display: block;
                  white-space: pre;
                }
              }
            }

            blockquote {
              margin: 20px 0 20px 40px;
              padding: 10px;
              border-left: 5px solid var(--color-light-3);
              font-style: italic;
            }
            p {
              margin-bottom: 8px;
              line-height: 1.8;
              a {
                text-decoration: underline;
              }
              img {
                width: 100%;
                max-width: 100%;
                height: auto;
              }
            }
            ul,
            ol {
              li {
                margin-bottom: 8px;
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
            h2 {
              font-size: var(--font-clamp-3);
            }
            h3 {
              font-size: var(--font-clamp-2);
            }
            h4,
            h5 {
              font-size: var(--font-clamp-1);
            }
          }
        }
      }
    }
  }
}
