#topbar {
  background: linear-gradient(
    to right,
    var(--cp2-dark),
    var(--cp2-light),
    var(--cp2-dark)
  );
  height: 48px;
  .inner-section {
    height: 100%;
    .container {
      height: 100%;
      .wrapper {
        height: 100%;
        .items {
          height: 100%;
          display: grid;
          grid-template-columns: 200px 1fr 200px;
          align-items: center;
          @media (max-width: 768px) {
            display: flex;
            flex-direction: row;
            grid-template-columns: unset;
          }
          @media (max-width: 375px) {
            flex-direction: column;
            justify-content: center;
          }
          .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;

            @media (max-width: 375px) {
              display: none;
            }

            .ihome {
              width: 30px;
              height: 100%;
              margin-right: 4px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                i {
                  position: relative;
                  top: -2px;
                  box-sizing: border-box;
                }
              }
            }
            span {
              font-weight: 600;
            }
          }
          .mid {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media (max-width: 768px) {
              display: none;
            }
          }
          .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            flex-grow: 1;
            .icons.horizontal {
              width: 100%;
              ul {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                li {
                  width: 30px;
                  a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
